.cardFooter {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 0 2.5rem 1.75rem 2.5rem;

}

.avatar {
    border-radius: 50%;
    width: 3.25rem;
    margin-right: 1.5rem;
}

.nameDate {
    text-align: left;
}

.nameDate p:nth-child(1) {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    ;

}

.nameDate p:nth-child(2) {
    color: hsl(212, 23%, 69%)
}

.share {
    margin-left: auto;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}