.cardBody {
    padding: 2.5rem;
    text-align: left;
}

.cardBodyTitle {
    font-weight: 700;
    font-size: 1.3rem;
    color: hsl(217, 19%, 35%);
    margin-bottom: 1rem;
}

.cardBodyText {
    color: hsl(214, 17%, 51%);
    padding-right: 1.25rem;
    line-height: 1.55rem;
}

@media screen and (min-width: 768px) {
    .cardBody {
        padding: 2.5rem 2.5rem 0 2.5rem;
    }

    .cardBodyTitle {
        font-size: 1.5rem;

    }

}