.cardFooter {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 1.25rem 2.5rem;
}

.footerClicked {
    background-color: hsl(217, 19%, 35%);
    border-radius: 0 0 .75rem .75rem;
}

.socialIcons img {
    margin: 0 .5rem;
}

.footerClicked p {
    color: hsl(212, 23%, 69%);
    letter-spacing: .5rem;
    margin-right: .75rem;
}

.avatar {
    border-radius: 50%;
    width: 3.25rem;
    margin-right: 1.5rem;
}

.nameDate {
    text-align: left;
}

.nameDate p:nth-child(1) {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    ;

}

.nameDate p:nth-child(2) {
    color: hsl(212, 23%, 69%)
}

.shareBtn {
    margin-left: auto;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}